<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aiworker.mindhackme" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"  />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"   />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:hardwareAccelerated="false"

 >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ProcessingVisualizer"
            android:theme="@android:style/Theme.NoTitleBar"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:background="@android:color/transparent"
            android:parentActivityName="com.aiworker.mindhackme.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aiworker.mindhackme.MainActivity" />
        </activity>

        <activity
            android:name=".ProcessingMindOS"
            android:theme="@android:style/Theme.NoTitleBar"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:background="@android:color/transparent"
            android:parentActivityName="com.aiworker.mindhackme.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aiworker.mindhackme.MainActivity" />
        </activity>

        <activity
            android:name=".ProcessingRNDgame"
            android:theme="@android:style/Theme.NoTitleBar"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:background="@android:color/transparent"
            android:parentActivityName="com.aiworker.mindhackme.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aiworker.mindhackme.MainActivity" />
        </activity>

        <service android:enabled="true"
            android:name=".eegService" />


        <service
            android:exported="false"
            android:name=".MusicService"
            android:enabled="true" >
            <intent-filter>
                <action android:name="com.aiworker.mindhackme.action.TOGGLE_PLAYBACK" />
                <action android:name="com.aiworker.mindhackme.action.PLAY" />
                <action android:name="com.aiworker.mindhackme.action.STOP" />
                <action android:name="com.aiworker.mindhackme.action.PAUSE" />
                <action android:name="com.aiworker.mindhackme.action.SKIP" />
                <action android:name="com.aiworker.mindhackme.action.REWIND" />
            </intent-filter>

            <intent-filter>
                <action android:name="com.aiworker.mindhackme.action.URL" />
                <data android:scheme="http" />
            </intent-filter>
        </service>

        <receiver android:name=".MusicIntentReceiver">
            <intent-filter>
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
